In [1]:
%config Completer.use_jedi = False

In [13]:
from os import path
import pandas as pd

In [50]:
from twitter_requests import TwitterApi
from utils import load_json, save_json

# Load data

In [15]:
twitter_api = TwitterApi()

In [93]:
candidates_df

           full_name  party   twitter_name           twitter_id
0      Armin Laschet    CDU   arminlaschet            835541664
1      Robert Habeck  Grüne  therealhabeck  1082604599662522371
2        Olaf Scholz    SPD     OlafScholz             38150247
3  Christian Lindner    FDP      c_lindner            122104353
4  Sarah Wagenknecht  Linke   SWagenknecht             47375691
5       Alice Weidel    AfD   Alice_Weidel   833398209053605888
6       Markus Söder    CDU  markus_soeder            793778228

In [45]:
candidates_df = pd.read_csv("data/candidates.csv")

In [31]:
for i, row in candidates_df.ita:
    print(row.full_name)
    twitter_api.build_user_dataset(row.twitter_name, data_dir="data/twitter_data")
    print()

# Create dataset

In [96]:
from glob import glob

In [97]:
twitter_files = glob("data/twitter_data/*.json")

In [98]:
twitter_data = []

for filepath in twitter_files:
    twitter_data.extend(load_json(filepath))

In [99]:
twitter_df = pd.DataFrame(twitter_data)

In [100]:
twitter_df["author_id"] = pd.to_numeric(twitter_df.author_id)

In [101]:
twitter_df = pd.merge(
    left=twitter_df,
    right=candidates_df.rename(columns={"twitter_id": "author_id"}),
    on="author_id",
    how="inner"
)

In [102]:
twitter_df.to_pickle("data/twitter_df.pkl")